In [92]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score 
from sklearn.linear_model import LogisticRegression

In [93]:
df=pd.read_csv("https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/refs/heads/main/day45-feature-construction-and-feature-splitting/train.csv")

In [94]:
df=df[["Age","Pclass","SibSp","Parch","Survived"]]

In [95]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [96]:
df.dropna(inplace=True)

In [97]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [98]:
x= df.iloc[:,0:4]
y=df.iloc[:,-1]

In [99]:
x.head()

    Age  Pclass  SibSp  Parch
0  22.0       3      1      0
1  38.0       1      1      0
2  26.0       3      0      0
3  35.0       1      1      0
4  35.0       3      0      0

In [100]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring ="accuracy",cv=20))

np.float64(0.6933333333333332)

In [101]:
#APLLYING FEATURE CONSTRUCTION

In [102]:
x["family_size"]=x["SibSp"] + x["Parch"]+1

In [103]:
x.head()

    Age  Pclass  SibSp  Parch  family_size
0  22.0       3      1      0            2
1  38.0       1      1      0            2
2  26.0       3      0      0            1
3  35.0       1      1      0            2
4  35.0       3      0      0            1

In [104]:
def myfunc(num):
    if num==1 :
        #alone
        return 0
    elif num>1 and num<=4:
        #small family
        return 1
    else:
        #Large family
        return 2

In [105]:
myfunc(4)

1

In [106]:
x["family_type"]= x["family_size"].apply(myfunc)

In [107]:
x.head()

    Age  Pclass  SibSp  Parch  family_size  family_type
0  22.0       3      1      0            2            1
1  38.0       1      1      0            2            1
2  26.0       3      0      0            1            0
3  35.0       1      1      0            2            1
4  35.0       3      0      0            1            0

In [108]:
x.drop(columns=["SibSp","Parch","family_size"],inplace =True)

In [109]:
x.head()

    Age  Pclass  family_type
0  22.0       3            1
1  38.0       1            1
2  26.0       3            0
3  35.0       1            1
4  35.0       3            0

In [110]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring ="accuracy",cv=20))

np.float64(0.7003174603174602)

In [111]:
# got a better score now